<app-card title="Primeiro Componente" color="#3d4d63">
  <app-first-component></app-first-component>
</app-card>

<app-card title="Aprofundando o conhecimento em templates" color="#b2e7e8">
  <app-second-component></app-second-component>
</app-card>

<app-card title="Pipes" color="#bfb9aa">
  <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card title="Two-way data binding" color="#f2d096">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card title="Render List" color="#ed8975">
  <app-render-list></app-render-list>
</app-card>

<app-card title="Custom Component" color="#ffe3dc">
  <app-custom-component name="Daniela" lastName="Dering"></app-custom-component>
  <app-custom-component name="Oscar" lastName="Dering"></app-custom-component>
</app-card>

<app-card title="Fathe Component" color="#a2ad91">
  <app-father-component></app-father-component>
</app-card>

<app-card title="Service Exemple" color="#3a2d32">
  <app-service-example-one></app-service-example-one>
  <app-service-example-two></app-service-example-two>
</app-card>

<app-card title="Life Cycle Father">
  <app-life-cycle-father></app-life-cycle-father>
</app-card>
